.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 3px;
}


.sectionTop {
  position: absolute;
  top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.sectionNewTodo {
  margin: 6rem 0
}